@import "/open-props/open-props.min.css";
@import "/shoelace/dist/themes/light.css";
@import "variables.css";

body {
  background: var(--bgcolor);
  font-family: var(--font-sans);
  margin-block-start: var(--size-4);
}

header {
  text-align: center;
  margin-block-end: var(--size-3);
}

main {
  max-width: 170ch;
  margin-inline: auto;
  display: flex;
  gap: var(--size-5);
}

main > :first-child {
  width: 40%;
}

main > :last-child {
  width: 60%;
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
  }

  main > :first-child {
    width: 100%;
  }
  
  main > :last-child {
    width: 100%;
  }
}

h1 {
  font-size: var(--font-size-fluid-2);
  font-weight: 900;
  color: var(--gray-8);
  margin-block: var(--size-4) var(--size-3);
}

p {
  font-size: var(--paragraph-size);
  color: var(--gray-7);
}

p, pre {
  margin-block: var(--size-3) var(--size-4);
}

pre {
  overflow: auto;
}

a {
  color: var(--blue-9);
  text-decoration: none;
}

footer {
  text-align: center;
  margin-block-start: calc(var(--size-9) + var(--size-9));
  margin-block-end: var(--size-8);
}

footer p {
  color: var(--gray-6);
}

section {
  margin-block: var(--size-6);
}

label {
  display: block;
}

iframe {
  display: block;
  width: 100%;
  height: 60vh;
  border: none;
  background: white;
}

code {
  color: var(--indigo-9);
  font-family: var(--font-mono);
  font-size: inherit;
  letter-spacing: -0.01em;
}

sl-tooltip {
  --show-delay: 400ms;
}

sl-radio-button::part(button) {
  font-weight: normal;
}

label.label, sl-input::part(form-control-label) {
  color: var(--gray-7);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-2);
}

sl-dialog {
  --width: 85ch;
}

sl-dialog::part(title) {
  font-weight: bold;
}

sl-dialog p, sl-dialog pre {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-2);
}

sl-dialog p:first-of-type {
  margin-block-start: 0;
}
