@import "https://unpkg.com/open-props";
@import "/shoelace/dist/themes/light.css";
@import "variables.css";

body {
  background: var(--bgcolor);
  font-family: var(--font-sans);
}

header {
  text-align: center;
}

main {
  max-width: 170ch;
  margin-inline: auto;
  display: flex;
  gap: var(--size-5);
}

main > :first-child {
  width: 40%;
}

main > :last-child {
  width: 60%;
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
  }

  main > :first-child {
    width: 100%;
  }
  
  main > :last-child {
    width: 100%;
  }
}

h1 {
  font-size: var(--font-size-fluid-2);
  font-weight: 900;
  color: var(--gray-8);
}

p {
  font-size: var(--paragraph-size);
  color: var(--gray-7);
}

a {
  color: var(--blue-9);
  text-decoration: none;
}

footer {
  text-align: center;
  margin-block-start: calc(var(--size-9) + var(--size-9));
}

section {
  margin-block: var(--size-6);
}

label {
  display: block;
}

codemirror-editor + label {
  margin-block-start: var(--size-3);
}

codemirror-editor {
  display: block;
  height: 30vh;
  position: relative;
  background: white;
  font-family: ui-monospace, monospace;
}

iframe {
  display: block;
  width: 100%;
  height: 60vh;
  border: none;
  background: white;
}

sl-tooltip {
  --show-delay: 400ms;
}

/*
sl-radio-button {
  background: white;
  border-radius: var(--sl-input-border-radius-small);
}
*/
sl-radio-button::part(button) {
  font-weight: normal;
}

label.label, sl-input::part(form-control-label) {
  color: var(--gray-7);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-2);
}
